/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: #{{ theme.bright.orange }};
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: #{{ theme.bright.red }};
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #{{ theme.background.default }};
    color: #{{theme.foreground}};
    font-family: "Exo 2", "JetBrains Mono Nerd Font Mono", Noto Sans;
    font-size: 13px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: #{{ theme.bright.orange }};
}

#battery.critical {
    color: #{{ theme.bright.red }};
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: #{{ theme.bright.orange }};
}

#cpu.critical {
    color: #{{ theme.bright.red }};
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: #{{ theme.bright.orange }};
}

#memory.critical {
    color: #{{ theme.bright.red }};
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}


#network.disconnected {
    color: #{{ theme.bright.orange }};
}


#custom-spotify {
    color: rgb(102, 220, 105);
}


#temperature.critical {
    color: #{{ theme.bright.red }};
}


#window {
    font-weight: bold;
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left:  25px;
    padding-right: 25px;
    color: #{{ theme.dark.white }};
}

#workspaces button.focused {
    border-color: #{{ theme.accent }};
    color: #{{ theme.foreground }};
    background-color: #{{ theme.accent_dark }};
}

#workspaces button.urgent {
    border-color: #{{ theme.bright.red }};
    color: #{{ theme.bright.red }};
}
